<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>SDIS v1</title>
		<link rel="stylesheet" title="General" type="text/css" href="{{ asset('css/base.css') }}" />
		<link rel="stylesheet" title="General" type="text/css" href="{{ asset('css/general.css') }}" />
		<link rel="stylesheet" title="General" type="text/css" href="{{ asset('css/grey.css') }}" />
		<link rel="stylesheet" title="General" type="text/css" href="{{ asset('css/jquery.alerts.css') }}" />
		{%block estilos%}
		{%endblock%}
		<link rel="shortcut icon" href="{{ asset('imagenes/favicon.ico') }}" />
		<script src="{{ asset('js/jquery-1.7.1.js') }}" type="text/javascript"></script>
		<script src="{{ asset('js/utilidades.js') }}" type="text/javascript"></script>
		<script src="{{ asset('js/procesos.js') }}" type="text/javascript"></script>
		<script src="{{ asset('js/jquery.alerts.js') }}" type="text/javascript"></script>
		<script src="{{ asset('js/jquery.printElement.js') }}" type="text/javascript"></script>
		{%block scripts%}
		{%endblock%}
		<script type="text/javascript">
			var direccion = '#';
			
		</script>
	</head>
	<body style="background:#d2dbe7">
		<div class="contenido" style="margin-top: -90px;background-color: #d2dbe7;width: 720px;margin-left: auto;margin-right: auto;padding-bottom: 44px;">
			{%block contenedorprincipal%}
			{%endblock%}
		</div>
	</body>
</html>
