{% extends "ProyectoPrincipalBundle:Principal:base.html.twig" %}
{%block contenedorprincipal%}
<div style="text-align: center"><a href="{{ path('ProyectoPrincipalBundle_homepage') }}" ><img src="{{ asset('imagenes/cabecera.png') }}" height="100px" ></a></div>
{%block contenido%}
{%endblock%} 

<div class="piepagina">
	<div class="fechaabajo">
		{{datos.fecha}}
	</div>
	<div class="usuario">
		{{datos.usuario}}
	</div>
	<div class="botoncerrar">
		<a href="{{ path('ProyectoPrincipalBundle_cerrarsesion') }}" class="botones">Cerrar sesión</a>
	</div>
</div>
		
{%endblock%} 